# Ingnore this folders
cache/
data/cache/*
data/raw/*
data/processed/*

# Added f1_eda_ready.csv to the repository
!data/processed/f1_eda_ready.csv

.ipynb_checkpoints/


# Virtual Environments
venv/
env/
.venv/

__pycache__/